<!DOCTYPE html>
<html>
  <head>
    <title>Ibiportfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://tappedout.net/tappedout.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id="header">
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <%= link_to "Home", root_path, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Portfolio</a></li>
        <li><a href="badges.html">Film</a></li>
        <li><a href="badges.html">MTG</a></li>
        <li><a href="collapsible.html">Contact</a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
    <footer class="page-footer teal lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h4 class="white-text">Ibrahim Aldrigde</h4>
            <p class="grey-text text-lighten-4">My protfolio, accomplishments and interests.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h4 class="white-text">Links</h4>
            <ul id="nav-mobile">
              <li>
                <a href="https://github.com/ibi8588">GitHub</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ibrahim-aldridge-6b0b932b/">LinkedIn</a>
              </li>
              <li>
                <a href="https://www.facebook.com/ibrahim.aldridge">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"></div>
      </div>
    </footer>
  </body>
</html>
